<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Demo EHR</title>
    <link rel="stylesheet" href="/style/bootstrap/bootstrap-reboot.css" />
    <link rel="stylesheet" href="/style/bootstrap/bootstrap.css" />
  </head>
  <body>
  <div class="container">

