<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Demo EHR</title>
    <link rel="stylesheet" href="/style/bootstrap/bootstrap-reboot.css"/>
    <link rel="stylesheet" href="/style/bootstrap/bootstrap.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand"><%= careProviderName %></div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/patients" class="nav-link">Patients</a>
        </li>
        
    </ul>

</nav>
<div class="container">

